

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
color: White; 
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.griditem1 { 
			grid-area: header;
			background-color: #E8EEF1;
			text-align: center;
			border-radius: 5px;
			background: rgb(1,174,24);
			background: linear-gradient(90deg, rgba(1,174,24,1) 0%, rgba(222,230,35,1) 51%, rgba(255,154,0,1) 100%);
 			}
			
.griditem2 { grid-area: left;
			background-color: #8b8f8c; 
			text-align: left;
			border-radius: 5px;
			background: rgb(241,241,241);
			background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(200,200,196,1) 49%, rgba(221,221,221,1) 100%);
			}
			

.griditem3 { grid-area: center1;
			background-color: #43B0F1; 
			text-align: center;
			border-radius: 5px;

			
			}
			
.griditem4 { grid-area: center2;
			background-color: #43B0F1; 
			text-align: center;
			border-radius: 5px;

			
			}		
			
.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: 	
	  "header header header header header"
	  "left center1 center1 center1 center1"
	  "left center2 center2 center2 center2"
	  "left center2 center2 center2 center2";
	  background-color: #ed8a09;
}